:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --main-backgroud-color: #ffffff;
  --second-backgroud-color: #2f303a;
  --third-backgroud-color: #f5f4fa;
  --set-gap: 15px;
  --color-logo: #afb1b8;
  --time-fuction-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: --main-text-color;
  color: --main-text-color;
  font-size: 14px;
  line-height: 1.14;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.logo {
  font-family: Raleway, Arial, sans-serif;
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo__text--black {
  color: #000000;
}

.logo__text--white {
  color: var(--third-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms, visibility 300ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(0) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: var(--main-backgroud-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--time-fuction-anim);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) translateY(100%) scale(0.1);
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-backgroud-color);
}
.modal__close-img:hover,
.modal .modal__close-img:focus {
  fill: var(--accent-text-color);
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal__form-field {
  margin-bottom: 10px;
}
.modal__form-field label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  display: block;
  margin-bottom: 4px;
}
.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  transition: border-color var(--time-fuction-anim);
}
.modal__form-input--wrap {
  position: relative;
}
.modal__form-input:focus {
  border-color: var(--accent-text-color);
}
.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill var(--time-fuction-anim);
}
.modal__form-input:focus + .modal__form-icon {
  fill: var(--accent-text-color);
}
.modal__form-comments {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--time-fuction-anim), fill var(--time-fuction-anim);
}
.modal__form-comments::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-comments:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-comments:focus {
  border-color: var(--accent-text-color);
}
.modal__agreements {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__agreements-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.modal__agreements-link {
  color: var(--accent-text-color);
  transition: color var(--time-fuction-anim), -webkit-text-decoration var(--time-fuction-anim);
  transition: text-decoration var(--time-fuction-anim), color var(--time-fuction-anim);
  transition: text-decoration var(--time-fuction-anim), color var(--time-fuction-anim), -webkit-text-decoration var(--time-fuction-anim);
}
.modal__agreements-link:hover {
  text-decoration: blink;
  color: #188ce8;
}
.modal__agreements-icon {
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  fill: transparent;
  margin-right: 8px;
  transition: background-color var(--time-fuction-anim), fill var(--time-fuction-anim), border var(--time-fuction-anim);
}
.modal__agreements-check:checked + .modal__agreements-icon {
  background-color: var(--accent-text-color);
  fill: #ffffff;
  border: transparent;
}

.modal__agreements-check:focus + .modal__agreements-icon,
.modal__agreements-icon:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  height: 50px;
  min-width: 200px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-width: 0;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}
.btn__img {
  margin-left: 10px;
  fill: currentColor;
}

.examples-btn {
  background-color: var(--third-backgroud-color);
  color: var(--main-text-color);
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  transition: color var(--time-fuction-anim), background-color var(--time-fuction-anim), box-shadow var(--time-fuction-anim);
}
.examples-btn:hover, .examples-btn:focus {
  color: var(--third-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc-list__item + .soc-list__item {
  margin-left: 10px;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--color-logo);
  transition: color var(--time-fuction-anim), background-color var(--time-fuction-anim);
}
.soc-link:hover, .soc-link:focus {
  color: var(--third-text-color);
  background-color: var(--accent-text-color);
}
.soc-link--grey {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--third-text-color);
}

.soc-img {
  fill: currentColor;
}

.soc-title {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-backgroud-color);
  margin-bottom: 20px;
  font-weight: 700;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__flex {
  display: flex;
  align-items: center;
}

.nav-list,
.header-cl {
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 31px;
  display: block;
  color: var(--main-text-color);
  transition: color var(--time-fuction-anim);
}
.nav-list__link--accent {
  color: var(--accent-text-color);
}
.nav-list__link--accent::after {
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-text-color);
  fill: currentColor;
}

.header-cl {
  margin-left: auto;
}
.header-cl__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--second-text-color);
  transition: color var(--time-fuction-anim);
}
.header-cl__link:hover, .header-cl__link:focus {
  color: var(--accent-text-color);
  fill: currentColor;
}
.header-cl__item:not(:last-child) {
  margin-right: 50px;
}

.email-icon {
  fill: currentColor;
  margin-right: 10px;
}

.phone-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-color: var(--second-backgroud-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin: 0 auto 30px;
  width: 696px;
}

.features-list {
  display: flex;
  margin: calc(-1 * var(--set-gap));
}
.features-list__item {
  margin: var(--set-gap);
}
.features-list__item-img {
  width: 270px;
  height: 120px;
  background-color: var(--third-backgroud-color);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-item-title {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.features-item-subtitle {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin: auto auto;
}

.what-doing {
  padding-top: 0;
}
.what-doing__item-descr {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
.what-doing-thumb {
  position: relative;
}
.what-doing-thumb__descr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  background-color: var(--third-backgroud-color);
}
.our-team__item {
  background-color: var(--third-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.our-team__item-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--main-text-color);
  margin-bottom: 10px;
}
.our-team__item-subtitle {
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.our-clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color var(--time-fuction-anim);
}
.our-clients__link:hover, .our-clients__link:focus {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.footer {
  background-color: var(--second-backgroud-color);
}
.footer-wraper {
  padding: 60px 0;
  display: flex;
  align-items: baseline;
}
.footer__nav {
  width: 316px;
}
.footer__logo {
  margin-bottom: 20px;
}

.footer-cl {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-cl__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-cl__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time-fuction-anim);
}
.footer-cl__link--white {
  color: var(--third-text-color);
}
.footer-cl__link:hover, .footer-cl__link:focus {
  color: var(--accent-text-color);
}

.footer__email-input {
  margin-left: 93px;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-input {
  background-color: transparent;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--third-text-color);
  outline: none;
  transition: border-color var(--time-fuction-anim);
  padding-left: 16px;
}
.footer-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input:focus {
  border-color: var(--accent-text-color);
}

.examples-btn__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.examples-btn__list-item:not(:last-child) {
  margin-right: 8px;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--set-gap));
}
.examples__item {
  margin: var(--set-gap);
  flex-basis: calc(33.3333333333% - 2 * var(--set-gap));
}
.examples__item-link {
  display: block;
  transition: box-shadow var(--time-fuction-anim);
}
.examples__item-link:hover, .examples__item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples__item-img {
  position: relative;
  overflow: hidden;
}
.examples__item-img-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-text-color);
  color: var(--third-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform var(--time-fuction-anim);
}
.examples__item-link:hover .examples__item-img-cover {
  transform: translateY(0);
}
.examples__item-description {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.examples__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}
.examples__item-subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}/*# sourceMappingURL=main.css.map */