.footer {
    background-color: var(--second-backgroud-color);
    &-wraper {
            padding: 60px 0;
            @include center-flex (flex, null, baseline);
        }
    &__nav {
            width: 316px;
        }
    &__logo {
            margin-bottom: 20px;
        }
}

.footer-cl {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    &__item:not(:last-child) {
            margin-bottom: 9px;
        }
    &__link {
        color: rgba(255, 255, 255, 0.6);
        transition: color var(--time-fuction-anim);
        &--white {
                color: var(--third-text-color);
            }
        &:hover,
        &:focus {
                color: var(--accent-text-color);
            }
        }
}

.footer__email-input {
    margin-left: 93px;
}

.footer-form {
    @include center-flex
}

.footer-input {
    background-color: transparent;
    width: 358px;
    height: 50px;
    margin-right: 12px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: var(--third-text-color);
    outline: none;
    transition: border-color var(--time-fuction-anim);
    padding-left: 16px;
    &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            align-items: center;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
    &:focus {
            border-color: var(--accent-text-color);
        }
}