.logo {
    font-family: Raleway, Arial, sans-serif;
    color: var(--accent-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.logo__text--black {
    color: #000000;
}

.logo__text--white {
    color: var(--third-text-color);
}